<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculatrice TDD</title>
</head>
<body>
<input type="number" id="number1">
<input type="number" id="number2">
<button id="add">+</button>
<button id="subtract">-</button>
<button id="multiply">×</button>

<div id="result"></div>

<script>
    document.getElementById('add').onclick = () => {
        let a = Number(document.getElementById('number1').value);
        let b = Number(document.getElementById('number2').value);

        document.getElementById('result').textContent = a + b;
    };
    // tu pourras coder les autres actions plus tard
</script>
</body>
</html>
